.fixed {
  position: fixed;
  background-color: black;
  color: white;
  right: 0;
  left: 0;
}

.header {
  background-image: url(../images/back.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
}
